[Unit]
Description=HTTP service proxy
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=30
User=root
SyslogIdentifier=courier
Environment=COURIER_CONFIG=/etc/courier/config.yaml
EnvironmentFile=-/etc/default/courier
ExecStart=/usr/bin/courier

[Install]
WantedBy=multi-user.target
