<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    />
    <link
      rel="search"
      type="application/opensearchdescription+xml"
      href="/resource/opensearch.xml"
      title="{SEARCH_ENGINE_NAME}"
    />
  </head>
  <body>
    <div id="app"></div>
    <script>window.__SSR_INJECTED_GLOBALS__ = {SSR_INJECTED_GLOBALS}</script>
    <script>{CLIENT_BUNDLE}</script>
  </body>
</html>
