<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>box.js - webgrep - Web client for livegrep</title>
<meta name="description" content="Web client for livegrep" />
<meta name="author" content="Kevin Lin" />
<link rel="icon" type="image/png" href="https://static.kevinlin.info/favicon.png" />
<link rel="alternate" type="application/atom+xml" title="webgrep Atom Feed" href="atom.xml" />
<link rel="alternate" type="application/atom+xml" title="webgrep Atom Feed (tags)" href="tags.xml" />
<style type="text/css">
body{color:#000;background-color:#fff;font-family:monospace}h1,h2,h3,h4,h5,h6{font-size:1em;margin:0}img,h1,h2{vertical-align:middle}img{border:0}a:target{background-color:#ccc}a.d,a.h,a.i{text-decoration:none}a.line{text-decoration:none;user-select:none}#blob a{color:#555}#blob a:hover{color:blue;text-decoration:none}table thead td{font-weight:bold}table td{padding:0 .4em}table td pre{margin:0}#content table td{vertical-align:top;white-space:nowrap}#branches tr:hover td,#tags tr:hover td,#index tr:hover td,#log tr:hover td,#files tr:hover td{background-color:#eee}#index tr td:nth-child(2),#tags tr td:nth-child(3),#branches tr td:nth-child(3),#log tr td:nth-child(2){white-space:normal}td.num{text-align:right}.desc{color:#555}hr{border:0;border-top:1px solid #555;height:1px}pre{font-family:monospace}pre a.h{color:#00a}.A,span.i,pre a.i{color:#070}.D,span.d,pre a.d{color:#e00}pre a.h:hover,pre a.i:hover,pre a.d:hover{text-decoration:none}
</style>
</head>
<body>
<table><tr><td><a href="/"><img src="https://static.kevinlin.info/favicon.png" alt="" width="32" height="32" /></a></td><td><h1>webgrep</h1><span class="desc">Web client for livegrep</span></td></tr><tr class="url"><td></td><td>git clone <a href="https://source.static.kevinlin.info/webgrep.git">https://source.static.kevinlin.info/webgrep.git</a></td></tr><tr><td></td><td>
<a href="log">Log</a> | <a href="files">Files</a> | <a href="refs">Refs</a> | <a href="file/README.md">README</a> | <a href="file/LICENSE">LICENSE</a></td></tr></table>
<hr/>
<div id="content">
<p>box.js (1652B)</p><hr/>
<table id="blob">
<tr>
<td><a href="../../../../../../../commit/3dea819f213d587cecce407f0a534e93510cd6bf">3dea819f213d587cecce407f0a534e93510cd6bf</a></td><td>[Sat, 15 Jun 2019 19:16:38 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l1" class="line" id="l1">      1</a> import PropTypes from &#39;prop-types&#39;;</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/3dea819f213d587cecce407f0a534e93510cd6bf">3dea819f213d587cecce407f0a534e93510cd6bf</a></td><td>[Sat, 15 Jun 2019 19:16:38 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l2" class="line" id="l2">      2</a> import React from &#39;react&#39;;</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/3dea819f213d587cecce407f0a534e93510cd6bf">3dea819f213d587cecce407f0a534e93510cd6bf</a></td><td>[Sat, 15 Jun 2019 19:16:38 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l3" class="line" id="l3">      3</a> import { withToggleState } from &#39;@linkiwi/hoc&#39;;</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/3dea819f213d587cecce407f0a534e93510cd6bf">3dea819f213d587cecce407f0a534e93510cd6bf</a></td><td>[Sat, 15 Jun 2019 19:16:38 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l4" class="line" id="l4">      4</a> import { Spacing } from &#39;react-elemental&#39;;</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/3dea819f213d587cecce407f0a534e93510cd6bf">3dea819f213d587cecce407f0a534e93510cd6bf</a></td><td>[Sat, 15 Jun 2019 19:16:38 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l5" class="line" id="l5">      5</a> import { transition } from &#39;client/app/util/style/transition&#39;;</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/3dea819f213d587cecce407f0a534e93510cd6bf">3dea819f213d587cecce407f0a534e93510cd6bf</a></td><td>[Sat, 15 Jun 2019 19:16:38 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l6" class="line" id="l6">      6</a> </pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/3dea819f213d587cecce407f0a534e93510cd6bf">3dea819f213d587cecce407f0a534e93510cd6bf</a></td><td>[Sat, 15 Jun 2019 19:16:38 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l7" class="line" id="l7">      7</a> /**</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/3dea819f213d587cecce407f0a534e93510cd6bf">3dea819f213d587cecce407f0a534e93510cd6bf</a></td><td>[Sat, 15 Jun 2019 19:16:38 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l8" class="line" id="l8">      8</a>  * Presentational wrapper around a block of arbitrary content.</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/3dea819f213d587cecce407f0a534e93510cd6bf">3dea819f213d587cecce407f0a534e93510cd6bf</a></td><td>[Sat, 15 Jun 2019 19:16:38 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l9" class="line" id="l9">      9</a>  */</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l10" class="line" id="l10">     10</a> const Box = ({</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l11" class="line" id="l11">     11</a>   variant,</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l12" class="line" id="l12">     12</a>   style: styleOverrides,</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l13" class="line" id="l13">     13</a>   children,</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l14" class="line" id="l14">     14</a>   isHover,</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l15" class="line" id="l15">     15</a>   handleMouseEnter,</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l16" class="line" id="l16">     16</a>   handleMouseLeave,</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l17" class="line" id="l17">     17</a> }) =&gt; {</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l18" class="line" id="l18">     18</a>   const baseStyle = {</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l19" class="line" id="l19">     19</a>     backgroundColor: &#39;white&#39;,</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l20" class="line" id="l20">     20</a>     borderRadius: &#39;3px&#39;,</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l21" class="line" id="l21">     21</a>     transition: transition.all.DEFAULT,</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l22" class="line" id="l22">     22</a>   };</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l23" class="line" id="l23">     23</a> </pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l24" class="line" id="l24">     24</a>   const styleVariants = {</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l25" class="line" id="l25">     25</a>     alpha: {</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l26" class="line" id="l26">     26</a>       ...baseStyle,</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l27" class="line" id="l27">     27</a>       boxShadow: isHover ?</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l28" class="line" id="l28">     28</a>         &#39;0px 6px 24px -2px rgba(0, 0, 0, 0.125)&#39; :</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l29" class="line" id="l29">     29</a>         &#39;0px 6px 20px -2px rgba(0, 0, 0, 0.1)&#39;,</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l30" class="line" id="l30">     30</a>       ...styleOverrides,</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l31" class="line" id="l31">     31</a>     },</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l32" class="line" id="l32">     32</a>     beta: {</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l33" class="line" id="l33">     33</a>       ...baseStyle,</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/3dea819f213d587cecce407f0a534e93510cd6bf">3dea819f213d587cecce407f0a534e93510cd6bf</a></td><td>[Sat, 15 Jun 2019 19:16:38 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l34" class="line" id="l34">     34</a>       boxShadow: isHover ?</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l35" class="line" id="l35">     35</a>         &#39;0px 8px 24px -2px rgba(0, 0, 0, 0.075)&#39; :</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l36" class="line" id="l36">     36</a>         &#39;0px 8px 20px -2px rgba(0, 0, 0, 0.05)&#39;,</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l37" class="line" id="l37">     37</a>       ...styleOverrides,</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l38" class="line" id="l38">     38</a>     },</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l39" class="line" id="l39">     39</a>   };</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l40" class="line" id="l40">     40</a> </pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l41" class="line" id="l41">     41</a>   return (</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l42" class="line" id="l42">     42</a>     &lt;Spacing</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l43" class="line" id="l43">     43</a>       onMouseEnter={handleMouseEnter}</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l44" class="line" id="l44">     44</a>       onMouseLeave={handleMouseLeave}</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l45" class="line" id="l45">     45</a>       style={styleVariants[variant]}</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l46" class="line" id="l46">     46</a>       top</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l47" class="line" id="l47">     47</a>       right</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l48" class="line" id="l48">     48</a>       bottom</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l49" class="line" id="l49">     49</a>       left</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l50" class="line" id="l50">     50</a>       padding</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l51" class="line" id="l51">     51</a>     &gt;</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l52" class="line" id="l52">     52</a>       {children}</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l53" class="line" id="l53">     53</a>     &lt;/Spacing&gt;</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l54" class="line" id="l54">     54</a>   );</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l55" class="line" id="l55">     55</a> };</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/3dea819f213d587cecce407f0a534e93510cd6bf">3dea819f213d587cecce407f0a534e93510cd6bf</a></td><td>[Sat, 15 Jun 2019 19:16:38 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l56" class="line" id="l56">     56</a> </pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/3dea819f213d587cecce407f0a534e93510cd6bf">3dea819f213d587cecce407f0a534e93510cd6bf</a></td><td>[Sat, 15 Jun 2019 19:16:38 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l57" class="line" id="l57">     57</a> Box.propTypes = {</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l58" class="line" id="l58">     58</a>   variant: PropTypes.oneOf([&#39;alpha&#39;, &#39;beta&#39;]),</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/3dea819f213d587cecce407f0a534e93510cd6bf">3dea819f213d587cecce407f0a534e93510cd6bf</a></td><td>[Sat, 15 Jun 2019 19:16:38 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l59" class="line" id="l59">     59</a>   style: PropTypes.object,</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/3dea819f213d587cecce407f0a534e93510cd6bf">3dea819f213d587cecce407f0a534e93510cd6bf</a></td><td>[Sat, 15 Jun 2019 19:16:38 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l60" class="line" id="l60">     60</a>   children: PropTypes.node.isRequired,</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/3dea819f213d587cecce407f0a534e93510cd6bf">3dea819f213d587cecce407f0a534e93510cd6bf</a></td><td>[Sat, 15 Jun 2019 19:16:38 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l61" class="line" id="l61">     61</a>   // HOC props</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/3dea819f213d587cecce407f0a534e93510cd6bf">3dea819f213d587cecce407f0a534e93510cd6bf</a></td><td>[Sat, 15 Jun 2019 19:16:38 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l62" class="line" id="l62">     62</a>   isHover: PropTypes.bool.isRequired,</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/3dea819f213d587cecce407f0a534e93510cd6bf">3dea819f213d587cecce407f0a534e93510cd6bf</a></td><td>[Sat, 15 Jun 2019 19:16:38 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l63" class="line" id="l63">     63</a>   handleMouseEnter: PropTypes.func.isRequired,</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/3dea819f213d587cecce407f0a534e93510cd6bf">3dea819f213d587cecce407f0a534e93510cd6bf</a></td><td>[Sat, 15 Jun 2019 19:16:38 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l64" class="line" id="l64">     64</a>   handleMouseLeave: PropTypes.func.isRequired,</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/3dea819f213d587cecce407f0a534e93510cd6bf">3dea819f213d587cecce407f0a534e93510cd6bf</a></td><td>[Sat, 15 Jun 2019 19:16:38 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l65" class="line" id="l65">     65</a> };</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/3dea819f213d587cecce407f0a534e93510cd6bf">3dea819f213d587cecce407f0a534e93510cd6bf</a></td><td>[Sat, 15 Jun 2019 19:16:38 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l66" class="line" id="l66">     66</a> </pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/3dea819f213d587cecce407f0a534e93510cd6bf">3dea819f213d587cecce407f0a534e93510cd6bf</a></td><td>[Sat, 15 Jun 2019 19:16:38 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l67" class="line" id="l67">     67</a> Box.defaultProps = {</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/6880fa4b975b14f72828322096a2ec8a8f490454">6880fa4b975b14f72828322096a2ec8a8f490454</a></td><td>[Wed, 20 May 2020 20:31:06 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l68" class="line" id="l68">     68</a>   variant: &#39;beta&#39;,</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/3dea819f213d587cecce407f0a534e93510cd6bf">3dea819f213d587cecce407f0a534e93510cd6bf</a></td><td>[Sat, 15 Jun 2019 19:16:38 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l69" class="line" id="l69">     69</a>   style: {},</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/3dea819f213d587cecce407f0a534e93510cd6bf">3dea819f213d587cecce407f0a534e93510cd6bf</a></td><td>[Sat, 15 Jun 2019 19:16:38 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l70" class="line" id="l70">     70</a> };</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/3dea819f213d587cecce407f0a534e93510cd6bf">3dea819f213d587cecce407f0a534e93510cd6bf</a></td><td>[Sat, 15 Jun 2019 19:16:38 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l71" class="line" id="l71">     71</a> </pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/3dea819f213d587cecce407f0a534e93510cd6bf">3dea819f213d587cecce407f0a534e93510cd6bf</a></td><td>[Sat, 15 Jun 2019 19:16:38 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l72" class="line" id="l72">     72</a> export default withToggleState({</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/3dea819f213d587cecce407f0a534e93510cd6bf">3dea819f213d587cecce407f0a534e93510cd6bf</a></td><td>[Sat, 15 Jun 2019 19:16:38 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l73" class="line" id="l73">     73</a>   key: &#39;isHover&#39;,</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/3dea819f213d587cecce407f0a534e93510cd6bf">3dea819f213d587cecce407f0a534e93510cd6bf</a></td><td>[Sat, 15 Jun 2019 19:16:38 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l74" class="line" id="l74">     74</a>   enable: &#39;handleMouseEnter&#39;,</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/3dea819f213d587cecce407f0a534e93510cd6bf">3dea819f213d587cecce407f0a534e93510cd6bf</a></td><td>[Sat, 15 Jun 2019 19:16:38 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l75" class="line" id="l75">     75</a>   disable: &#39;handleMouseLeave&#39;,</pre></td></tr>
<tr>
<td><a href="../../../../../../../commit/3dea819f213d587cecce407f0a534e93510cd6bf">3dea819f213d587cecce407f0a534e93510cd6bf</a></td><td>[Sat, 15 Jun 2019 19:16:38 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><pre><a href="#l76" class="line" id="l76">     76</a> })(Box);</pre></td></tr>
</table>
</div>
</body>
</html>
