<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>text-field.js - react-elemental - Flat React UI component library</title>
<meta name="description" content="Flat React UI component library" />
<meta name="author" content="Kevin Lin" />
<link rel="icon" type="image/png" href="https://static.kevinlin.info/favicon.png" />
<link rel="alternate" type="application/atom+xml" title="react-elemental Atom Feed" href="../../../atom.xml" />
<link rel="alternate" type="application/atom+xml" title="react-elemental Atom Feed (tags)" href="../../../tags.xml" />
<style type="text/css">
body{color:#000;background-color:#fff;font-family:monospace}h1,h2,h3,h4,h5,h6{font-size:1em;margin:0}img,h1,h2{vertical-align:middle}img{border:0}a:target{background-color:#ccc}a.d,a.h,a.i{text-decoration:none}a.line{text-decoration:none;user-select:none}#blob a{color:#555}#blob a:hover{color:blue;text-decoration:none}table thead td{font-weight:bold}table td{padding:0 .4em}#content table td{vertical-align:top;white-space:nowrap}#branches tr:hover td,#tags tr:hover td,#index tr:hover td,#log tr:hover td,#files tr:hover td{background-color:#eee}#index tr td:nth-child(2),#tags tr td:nth-child(3),#branches tr td:nth-child(3),#log tr td:nth-child(2){white-space:normal}td.num{text-align:right}.desc{color:#555}hr{border:0;border-top:1px solid #555;height:1px}pre{font-family:monospace}pre a.h{color:#00a}.A,span.i,pre a.i{color:#070}.D,span.d,pre a.d{color:#e00}pre a.h:hover,pre a.i:hover,pre a.d:hover{text-decoration:none}
</style>
</head>
<body>
<table><tr><td><a href="/"><img src="https://static.kevinlin.info/favicon.png" alt="" width="32" height="32" /></a></td><td><h1>react-elemental</h1><span class="desc">Flat React UI component library</span></td></tr><tr class="url"><td></td><td>git clone <a href="https://source.static.kevinlin.info/react-elemental.git">https://source.static.kevinlin.info/react-elemental.git</a></td></tr><tr><td></td><td>
<a href="../../../log">Log</a> | <a href="../../../files">Files</a> | <a href="../../../refs">Refs</a> | <a href="../../../file/README.md">README</a> | <a href="../../../file/LICENSE">LICENSE</a></td></tr></table>
<hr/>
<div id="content">
<p>text-field.js (4432B) (<a href="../../../raw/src/components/text-field.js">raw</a>) (<a href="../../../blame/src/components/text-field.js">blame</a>)</p><hr/>
<pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> import Color from &#39;color&#39;;
<a href="#l2" class="line" id="l2">      2</a> import PropTypes from &#39;prop-types&#39;;
<a href="#l3" class="line" id="l3">      3</a> import React, { Component } from &#39;react&#39;;
<a href="#l4" class="line" id="l4">      4</a> import { compose, withForwardedRef, withToggleState } from &#39;@linkiwi/hoc&#39;;
<a href="#l5" class="line" id="l5">      5</a> import Spacing from &#39;components/spacing&#39;;
<a href="#l6" class="line" id="l6">      6</a> import Text from &#39;components/text&#39;;
<a href="#l7" class="line" id="l7">      7</a> import { colors } from &#39;styles/color&#39;;
<a href="#l8" class="line" id="l8">      8</a> import { primaryFontStyle } from &#39;styles/font&#39;;
<a href="#l9" class="line" id="l9">      9</a> import { transitionStyle } from &#39;styles/transition&#39;;
<a href="#l10" class="line" id="l10">     10</a> 
<a href="#l11" class="line" id="l11">     11</a> /**
<a href="#l12" class="line" id="l12">     12</a>  * Input element for accepting user text input.
<a href="#l13" class="line" id="l13">     13</a>  */
<a href="#l14" class="line" id="l14">     14</a> class TextField extends Component {
<a href="#l15" class="line" id="l15">     15</a>   static propTypes = {
<a href="#l16" class="line" id="l16">     16</a>     // Error string, if the input contents are invalid. This will use a dedicated error style.
<a href="#l17" class="line" id="l17">     17</a>     error: PropTypes.string,
<a href="#l18" class="line" id="l18">     18</a>     // True to use the secondary component variant.
<a href="#l19" class="line" id="l19">     19</a>     secondary: PropTypes.bool,
<a href="#l20" class="line" id="l20">     20</a>     // [INTERNAL] True to render a textarea element rather than an input element.
<a href="#l21" class="line" id="l21">     21</a>     textarea: PropTypes.bool,
<a href="#l22" class="line" id="l22">     22</a>     // Optional style overrides.
<a href="#l23" class="line" id="l23">     23</a>     style: PropTypes.object,
<a href="#l24" class="line" id="l24">     24</a>     // HOC props
<a href="#l25" class="line" id="l25">     25</a>     handleMouseOver: PropTypes.func.isRequired,
<a href="#l26" class="line" id="l26">     26</a>     handleMouseOut: PropTypes.func.isRequired,
<a href="#l27" class="line" id="l27">     27</a>     handleFocus: PropTypes.func.isRequired,
<a href="#l28" class="line" id="l28">     28</a>     handleBlur: PropTypes.func.isRequired,
<a href="#l29" class="line" id="l29">     29</a>     isHover: PropTypes.bool.isRequired,
<a href="#l30" class="line" id="l30">     30</a>     isFocus: PropTypes.bool.isRequired,
<a href="#l31" class="line" id="l31">     31</a>     forwardedRef: PropTypes.oneOfType([
<a href="#l32" class="line" id="l32">     32</a>       PropTypes.shape({ current: PropTypes.instanceOf(Element) }),
<a href="#l33" class="line" id="l33">     33</a>       PropTypes.func,
<a href="#l34" class="line" id="l34">     34</a>     ]),
<a href="#l35" class="line" id="l35">     35</a>   };
<a href="#l36" class="line" id="l36">     36</a> 
<a href="#l37" class="line" id="l37">     37</a>   static defaultProps = {
<a href="#l38" class="line" id="l38">     38</a>     error: null,
<a href="#l39" class="line" id="l39">     39</a>     secondary: false,
<a href="#l40" class="line" id="l40">     40</a>     textarea: false,
<a href="#l41" class="line" id="l41">     41</a>     style: {},
<a href="#l42" class="line" id="l42">     42</a>     forwardedRef: null,
<a href="#l43" class="line" id="l43">     43</a>   };
<a href="#l44" class="line" id="l44">     44</a> 
<a href="#l45" class="line" id="l45">     45</a>   constructor(props) {
<a href="#l46" class="line" id="l46">     46</a>     super(props);
<a href="#l47" class="line" id="l47">     47</a> 
<a href="#l48" class="line" id="l48">     48</a>     this.errorColors = {
<a href="#l49" class="line" id="l49">     49</a>       idle: new Color(colors.red).fade(0.85).string(),
<a href="#l50" class="line" id="l50">     50</a>       hover: new Color(colors.red).fade(0.7).string(),
<a href="#l51" class="line" id="l51">     51</a>       focus: colors.red,
<a href="#l52" class="line" id="l52">     52</a>     };
<a href="#l53" class="line" id="l53">     53</a> 
<a href="#l54" class="line" id="l54">     54</a>     this.primaryColors = {
<a href="#l55" class="line" id="l55">     55</a>       idle: colors.gray10,
<a href="#l56" class="line" id="l56">     56</a>       hover: colors.gray20,
<a href="#l57" class="line" id="l57">     57</a>       focus: colors.primary,
<a href="#l58" class="line" id="l58">     58</a>     };
<a href="#l59" class="line" id="l59">     59</a> 
<a href="#l60" class="line" id="l60">     60</a>     this.secondaryColors = {
<a href="#l61" class="line" id="l61">     61</a>       idle: new Color(colors.primary).fade(0.8).string(),
<a href="#l62" class="line" id="l62">     62</a>       hover: new Color(colors.primary).fade(0.6).string(),
<a href="#l63" class="line" id="l63">     63</a>       focus: colors.primary,
<a href="#l64" class="line" id="l64">     64</a>     };
<a href="#l65" class="line" id="l65">     65</a>   }
<a href="#l66" class="line" id="l66">     66</a> 
<a href="#l67" class="line" id="l67">     67</a>   render() {
<a href="#l68" class="line" id="l68">     68</a>     const {
<a href="#l69" class="line" id="l69">     69</a>       error,
<a href="#l70" class="line" id="l70">     70</a>       secondary,
<a href="#l71" class="line" id="l71">     71</a>       textarea,
<a href="#l72" class="line" id="l72">     72</a>       style: overrides,
<a href="#l73" class="line" id="l73">     73</a>       handleMouseOver,
<a href="#l74" class="line" id="l74">     74</a>       handleMouseOut,
<a href="#l75" class="line" id="l75">     75</a>       handleFocus,
<a href="#l76" class="line" id="l76">     76</a>       handleBlur,
<a href="#l77" class="line" id="l77">     77</a>       isHover,
<a href="#l78" class="line" id="l78">     78</a>       isFocus,
<a href="#l79" class="line" id="l79">     79</a>       forwardedRef,
<a href="#l80" class="line" id="l80">     80</a>       ...proxyProps
<a href="#l81" class="line" id="l81">     81</a>     } = this.props;
<a href="#l82" class="line" id="l82">     82</a> 
<a href="#l83" class="line" id="l83">     83</a>     const colorSet = (() =&gt; {
<a href="#l84" class="line" id="l84">     84</a>       // Error colors take precedent and are identical for both primary and secondary styles.
<a href="#l85" class="line" id="l85">     85</a>       if (error) {
<a href="#l86" class="line" id="l86">     86</a>         return this.errorColors;
<a href="#l87" class="line" id="l87">     87</a>       }
<a href="#l88" class="line" id="l88">     88</a> 
<a href="#l89" class="line" id="l89">     89</a>       if (secondary) {
<a href="#l90" class="line" id="l90">     90</a>         return this.secondaryColors;
<a href="#l91" class="line" id="l91">     91</a>       }
<a href="#l92" class="line" id="l92">     92</a> 
<a href="#l93" class="line" id="l93">     93</a>       return this.primaryColors;
<a href="#l94" class="line" id="l94">     94</a>     })();
<a href="#l95" class="line" id="l95">     95</a> 
<a href="#l96" class="line" id="l96">     96</a>     const baseStyle = {
<a href="#l97" class="line" id="l97">     97</a>       borderRadius: 0,
<a href="#l98" class="line" id="l98">     98</a>       boxSizing: &#39;border-box&#39;,
<a href="#l99" class="line" id="l99">     99</a>       width: &#39;100%&#39;,
<a href="#l100" class="line" id="l100">    100</a>       ...transitionStyle(),
<a href="#l101" class="line" id="l101">    101</a>       ...primaryFontStyle(&#39;kilo&#39;, colors.gray80, false),
<a href="#l102" class="line" id="l102">    102</a>     };
<a href="#l103" class="line" id="l103">    103</a> 
<a href="#l104" class="line" id="l104">    104</a>     const primaryStyle = {
<a href="#l105" class="line" id="l105">    105</a>       border: `1px solid ${colorSet.idle}`,
<a href="#l106" class="line" id="l106">    106</a>       padding: &#39;10px&#39;,
<a href="#l107" class="line" id="l107">    107</a>       ...isHover &amp;&amp; {
<a href="#l108" class="line" id="l108">    108</a>         border: `1px solid ${colorSet.hover}`,
<a href="#l109" class="line" id="l109">    109</a>       },
<a href="#l110" class="line" id="l110">    110</a>       ...isFocus &amp;&amp; {
<a href="#l111" class="line" id="l111">    111</a>         border: `1px solid ${colorSet.focus}`,
<a href="#l112" class="line" id="l112">    112</a>       },
<a href="#l113" class="line" id="l113">    113</a>     };
<a href="#l114" class="line" id="l114">    114</a> 
<a href="#l115" class="line" id="l115">    115</a>     const secondaryStyle = {
<a href="#l116" class="line" id="l116">    116</a>       backgroundColor: &#39;transparent&#39;,
<a href="#l117" class="line" id="l117">    117</a>       borderLeft: &#39;none&#39;,
<a href="#l118" class="line" id="l118">    118</a>       borderTop: &#39;none&#39;,
<a href="#l119" class="line" id="l119">    119</a>       borderRight: &#39;none&#39;,
<a href="#l120" class="line" id="l120">    120</a>       borderBottom: `1px solid ${colorSet.idle}`,
<a href="#l121" class="line" id="l121">    121</a>       padding: &#39;3px 1px&#39;,
<a href="#l122" class="line" id="l122">    122</a>       ...isHover &amp;&amp; {
<a href="#l123" class="line" id="l123">    123</a>         borderBottom: `1px solid ${colorSet.hover}`,
<a href="#l124" class="line" id="l124">    124</a>       },
<a href="#l125" class="line" id="l125">    125</a>       ...isFocus &amp;&amp; {
<a href="#l126" class="line" id="l126">    126</a>         borderBottom: `1px solid ${colorSet.focus}`,
<a href="#l127" class="line" id="l127">    127</a>       },
<a href="#l128" class="line" id="l128">    128</a>     };
<a href="#l129" class="line" id="l129">    129</a> 
<a href="#l130" class="line" id="l130">    130</a>     const style = {
<a href="#l131" class="line" id="l131">    131</a>       ...baseStyle,
<a href="#l132" class="line" id="l132">    132</a>       ...secondary ? secondaryStyle : primaryStyle,
<a href="#l133" class="line" id="l133">    133</a>       ...overrides,
<a href="#l134" class="line" id="l134">    134</a>     };
<a href="#l135" class="line" id="l135">    135</a> 
<a href="#l136" class="line" id="l136">    136</a>     // The styles and properties for TextArea and TextField are exactly identical sans the rendered
<a href="#l137" class="line" id="l137">    137</a>     // HTML element.
<a href="#l138" class="line" id="l138">    138</a>     const elementProps = {
<a href="#l139" class="line" id="l139">    139</a>       ref: forwardedRef,
<a href="#l140" class="line" id="l140">    140</a>       onMouseOver: handleMouseOver,
<a href="#l141" class="line" id="l141">    141</a>       onMouseOut: handleMouseOut,
<a href="#l142" class="line" id="l142">    142</a>       onFocus: handleFocus,
<a href="#l143" class="line" id="l143">    143</a>       onBlur: handleBlur,
<a href="#l144" class="line" id="l144">    144</a>       style,
<a href="#l145" class="line" id="l145">    145</a>       ...proxyProps,
<a href="#l146" class="line" id="l146">    146</a>     };
<a href="#l147" class="line" id="l147">    147</a> 
<a href="#l148" class="line" id="l148">    148</a>     return (
<a href="#l149" class="line" id="l149">    149</a>       &lt;div&gt;
<a href="#l150" class="line" id="l150">    150</a>         {textarea ? (
<a href="#l151" class="line" id="l151">    151</a>           &lt;textarea {...elementProps} /&gt;
<a href="#l152" class="line" id="l152">    152</a>         ) : (
<a href="#l153" class="line" id="l153">    153</a>           &lt;input {...elementProps} /&gt;
<a href="#l154" class="line" id="l154">    154</a>         )}
<a href="#l155" class="line" id="l155">    155</a> 
<a href="#l156" class="line" id="l156">    156</a>         {error &amp;&amp; (
<a href="#l157" class="line" id="l157">    157</a>           &lt;Spacing size=&quot;micro&quot; top&gt;
<a href="#l158" class="line" id="l158">    158</a>             &lt;Text color=&quot;red&quot; size=&quot;lambda&quot; bold&gt;
<a href="#l159" class="line" id="l159">    159</a>               {error}
<a href="#l160" class="line" id="l160">    160</a>             &lt;/Text&gt;
<a href="#l161" class="line" id="l161">    161</a>           &lt;/Spacing&gt;
<a href="#l162" class="line" id="l162">    162</a>         )}
<a href="#l163" class="line" id="l163">    163</a>       &lt;/div&gt;
<a href="#l164" class="line" id="l164">    164</a>     );
<a href="#l165" class="line" id="l165">    165</a>   }
<a href="#l166" class="line" id="l166">    166</a> }
<a href="#l167" class="line" id="l167">    167</a> 
<a href="#l168" class="line" id="l168">    168</a> export default compose(
<a href="#l169" class="line" id="l169">    169</a>   withForwardedRef,
<a href="#l170" class="line" id="l170">    170</a>   withToggleState({ key: &#39;isHover&#39;, enable: &#39;handleMouseOver&#39;, disable: &#39;handleMouseOut&#39; }),
<a href="#l171" class="line" id="l171">    171</a>   withToggleState({ key: &#39;isFocus&#39;, enable: &#39;handleFocus&#39;, disable: &#39;handleBlur&#39; }),
<a href="#l172" class="line" id="l172">    172</a> )(TextField);
</pre>
</div>
</body>
</html>
