<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>primary-tab-option.test.js - react-elemental - Flat React UI component library</title>
<meta name="description" content="Flat React UI component library" />
<meta name="author" content="Kevin Lin" />
<link rel="icon" type="image/png" href="https://static.kevinlin.info/favicon.png" />
<link rel="alternate" type="application/atom+xml" title="react-elemental Atom Feed" href="atom.xml" />
<link rel="alternate" type="application/atom+xml" title="react-elemental Atom Feed (tags)" href="tags.xml" />
<style type="text/css">
body{color:#000;background-color:#fff;font-family:monospace}h1,h2,h3,h4,h5,h6{font-size:1em;margin:0}img,h1,h2{vertical-align:middle}img{border:0}a:target{background-color:#ccc}a.d,a.h,a.i{text-decoration:none}a.line{text-decoration:none;user-select:none}#blob a{color:#555}#blob a:hover{color:blue;text-decoration:none}table thead td{font-weight:bold}table td{padding:0 .4em}#content table td{vertical-align:top;white-space:nowrap}#branches tr:hover td,#tags tr:hover td,#index tr:hover td,#log tr:hover td,#files tr:hover td{background-color:#eee}#index tr td:nth-child(2),#tags tr td:nth-child(3),#branches tr td:nth-child(3),#log tr td:nth-child(2){white-space:normal}td.num{text-align:right}.desc{color:#555}hr{border:0;border-top:1px solid #555;height:1px}pre{font-family:monospace}pre a.h{color:#00a}.A,span.i,pre a.i{color:#070}.D,span.d,pre a.d{color:#e00}pre a.h:hover,pre a.i:hover,pre a.d:hover{text-decoration:none}
</style>
</head>
<body>
<table><tr><td><a href="/"><img src="https://static.kevinlin.info/favicon.png" alt="" width="32" height="32" /></a></td><td><h1>react-elemental</h1><span class="desc">Flat React UI component library</span></td></tr><tr class="url"><td></td><td>git clone <a href="https://source.static.kevinlin.info/react-elemental.git">https://source.static.kevinlin.info/react-elemental.git</a></td></tr><tr><td></td><td>
<a href="log">Log</a> | <a href="files">Files</a> | <a href="refs">Refs</a> | <a href="file/README.md">README</a> | <a href="file/LICENSE">LICENSE</a></td></tr></table>
<hr/>
<div id="content">
<p>primary-tab-option.test.js (1776B)</p><hr/>
<table id="blob">
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l1" class="line" id="l1">      1</a> import { mount } from &#39;enzyme&#39;;</td></tr>
<tr>
<td><a href="../../../../../commit/686c83df4a5c01986d1f0baf8208196baaabf466">686c83df4a5c01986d1f0baf8208196baaabf466</a></td><td>[Fri, 21 Jun 2019 21:22:00 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l2" class="line" id="l2">      2</a> import React from &#39;react&#39;;</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l3" class="line" id="l3">      3</a> import PrimaryTabOption from &#39;components/tabs/primary-tab-option&#39;;</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l4" class="line" id="l4">      4</a> import { colors } from &#39;styles/color&#39;;</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l5" class="line" id="l5">      5</a> </td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l6" class="line" id="l6">      6</a> describe(&#39;Primary tab option&#39;, () =&gt; {</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l7" class="line" id="l7">      7</a>   const defaultProps = {</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l8" class="line" id="l8">      8</a>     baseStyle: {},</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l9" class="line" id="l9">      9</a>     isIntermediate: false,</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l10" class="line" id="l10">     10</a>     isSelected: false,</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l11" class="line" id="l11">     11</a>     onClick: () =&gt; {},</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l12" class="line" id="l12">     12</a>     children: &#39;children&#39;,</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l13" class="line" id="l13">     13</a>   };</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l14" class="line" id="l14">     14</a> </td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l15" class="line" id="l15">     15</a>   test(&#39;Idle style&#39;, () =&gt; {</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l16" class="line" id="l16">     16</a>     const tab = mount(</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l17" class="line" id="l17">     17</a>       &lt;PrimaryTabOption</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l18" class="line" id="l18">     18</a>         {...defaultProps}</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l19" class="line" id="l19">     19</a>         isHover={false}</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l20" class="line" id="l20">     20</a>         isIntermediate={false}</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l21" class="line" id="l21">     21</a>       /&gt;,</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l22" class="line" id="l22">     22</a>     );</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l23" class="line" id="l23">     23</a> </td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l24" class="line" id="l24">     24</a>     expect(tab.find(&#39;button&#39;).props().style.backgroundColor).toBe(&#39;inherit&#39;);</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l25" class="line" id="l25">     25</a>   });</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l26" class="line" id="l26">     26</a> </td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l27" class="line" id="l27">     27</a>   test(&#39;Active style&#39;, () =&gt; {</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l28" class="line" id="l28">     28</a>     const tab = mount(</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l29" class="line" id="l29">     29</a>       &lt;PrimaryTabOption</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l30" class="line" id="l30">     30</a>         {...defaultProps}</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l31" class="line" id="l31">     31</a>         isSelected</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l32" class="line" id="l32">     32</a>       /&gt;,</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l33" class="line" id="l33">     33</a>     );</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l34" class="line" id="l34">     34</a> </td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l35" class="line" id="l35">     35</a>     expect(tab.find(&#39;button&#39;).props().style.backgroundColor).toBe(colors.gray10);</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l36" class="line" id="l36">     36</a>   });</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l37" class="line" id="l37">     37</a> </td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l38" class="line" id="l38">     38</a>   test(&#39;Hover style&#39;, () =&gt; {</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l39" class="line" id="l39">     39</a>     const tab = mount(</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l40" class="line" id="l40">     40</a>       &lt;PrimaryTabOption</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l41" class="line" id="l41">     41</a>         {...defaultProps}</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l42" class="line" id="l42">     42</a>         isHover</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l43" class="line" id="l43">     43</a>       /&gt;,</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l44" class="line" id="l44">     44</a>     );</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l45" class="line" id="l45">     45</a> </td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l46" class="line" id="l46">     46</a>     tab.find(&#39;button&#39;).simulate(&#39;mouseenter&#39;);</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l47" class="line" id="l47">     47</a>     expect(tab.find(&#39;button&#39;).props().style.backgroundColor).toBe(&#39;rgba(253, 253, 253)&#39;);</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l48" class="line" id="l48">     48</a>     tab.find(&#39;button&#39;).simulate(&#39;mouseleave&#39;);</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l49" class="line" id="l49">     49</a>     expect(tab.find(&#39;button&#39;).props().style.backgroundColor).toBe(&#39;inherit&#39;);</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l50" class="line" id="l50">     50</a>   });</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l51" class="line" id="l51">     51</a> </td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l52" class="line" id="l52">     52</a>   test(&#39;Click handler&#39;, () =&gt; {</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l53" class="line" id="l53">     53</a>     const mockOnClick = jest.fn();</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l54" class="line" id="l54">     54</a>     const tab = mount(</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l55" class="line" id="l55">     55</a>       &lt;PrimaryTabOption</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l56" class="line" id="l56">     56</a>         {...defaultProps}</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l57" class="line" id="l57">     57</a>         onClick={mockOnClick}</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l58" class="line" id="l58">     58</a>       /&gt;,</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l59" class="line" id="l59">     59</a>     );</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l60" class="line" id="l60">     60</a> </td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l61" class="line" id="l61">     61</a>     expect(mockOnClick).not.toBeCalled();</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l62" class="line" id="l62">     62</a>     tab.find(&#39;button&#39;).simulate(&#39;click&#39;);</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l63" class="line" id="l63">     63</a>     expect(mockOnClick).toBeCalled();</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l64" class="line" id="l64">     64</a>   });</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l65" class="line" id="l65">     65</a> </td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l66" class="line" id="l66">     66</a>   test(&#39;Rendering of children&#39;, () =&gt; {</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l67" class="line" id="l67">     67</a>     const tab = mount(</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l68" class="line" id="l68">     68</a>       &lt;PrimaryTabOption {...defaultProps}&gt;</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l69" class="line" id="l69">     69</a>         children</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l70" class="line" id="l70">     70</a>       &lt;/PrimaryTabOption&gt;,</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l71" class="line" id="l71">     71</a>     );</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l72" class="line" id="l72">     72</a> </td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l73" class="line" id="l73">     73</a>     expect(tab.text()).toBe(&#39;children&#39;);</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l74" class="line" id="l74">     74</a>   });</td></tr>
<tr>
<td><a href="../../../../../commit/8bbe44171cc7ff4b72a7a34258b73991c897161e">8bbe44171cc7ff4b72a7a34258b73991c897161e</a></td><td>[Tue,  6 Feb 2018 10:26:22 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l75" class="line" id="l75">     75</a> });</td></tr>
</table>
</div>
</body>
</html>
