<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>button.js - react-elemental - Flat React UI component library</title>
<meta name="description" content="Flat React UI component library" />
<meta name="author" content="Kevin Lin" />
<link rel="icon" type="image/png" href="https://static.kevinlin.info/favicon.png" />
<link rel="alternate" type="application/atom+xml" title="react-elemental Atom Feed" href="atom.xml" />
<link rel="alternate" type="application/atom+xml" title="react-elemental Atom Feed (tags)" href="tags.xml" />
<style type="text/css">
body{color:#000;background-color:#fff;font-family:monospace}h1,h2,h3,h4,h5,h6{font-size:1em;margin:0}img,h1,h2{vertical-align:middle}img{border:0}a:target{background-color:#ccc}a.d,a.h,a.i{text-decoration:none}a.line{text-decoration:none;user-select:none}#blob a{color:#555}#blob a:hover{color:blue;text-decoration:none}table thead td{font-weight:bold}table td{padding:0 .4em}#content table td{vertical-align:top;white-space:nowrap}#branches tr:hover td,#tags tr:hover td,#index tr:hover td,#log tr:hover td,#files tr:hover td{background-color:#eee}#index tr td:nth-child(2),#tags tr td:nth-child(3),#branches tr td:nth-child(3),#log tr td:nth-child(2){white-space:normal}td.num{text-align:right}.desc{color:#555}hr{border:0;border-top:1px solid #555;height:1px}pre{font-family:monospace}pre a.h{color:#00a}.A,span.i,pre a.i{color:#070}.D,span.d,pre a.d{color:#e00}pre a.h:hover,pre a.i:hover,pre a.d:hover{text-decoration:none}
</style>
</head>
<body>
<table><tr><td><a href="/"><img src="https://static.kevinlin.info/favicon.png" alt="" width="32" height="32" /></a></td><td><h1>react-elemental</h1><span class="desc">Flat React UI component library</span></td></tr><tr class="url"><td></td><td>git clone <a href="https://source.static.kevinlin.info/react-elemental.git">https://source.static.kevinlin.info/react-elemental.git</a></td></tr><tr><td></td><td>
<a href="log">Log</a> | <a href="files">Files</a> | <a href="refs">Refs</a> | <a href="file/README.md">README</a> | <a href="file/LICENSE">LICENSE</a></td></tr></table>
<hr/>
<div id="content">
<p>button.js (4521B)</p><hr/>
<table id="blob">
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l1" class="line" id="l1">      1</a> import PropTypes from &#39;prop-types&#39;;</td></tr>
<tr>
<td><a href="../../../../commit/ba70fbb51156d39924548ec2ff363b4d74df8719">ba70fbb51156d39924548ec2ff363b4d74df8719</a></td><td>[Fri, 21 Jun 2019 19:33:44 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l2" class="line" id="l2">      2</a> import React, { Component } from &#39;react&#39;;</td></tr>
<tr>
<td><a href="../../../../commit/a89d132f6ce6b2b7173a7f1c3c0f0030af6e8dd2">a89d132f6ce6b2b7173a7f1c3c0f0030af6e8dd2</a></td><td>[Fri, 21 Jun 2019 22:37:27 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l3" class="line" id="l3">      3</a> import { compose, withForwardedRef, withToggleState } from &#39;@linkiwi/hoc&#39;;</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l4" class="line" id="l4">      4</a> import Text from &#39;components/text&#39;;</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l5" class="line" id="l5">      5</a> import { colors } from &#39;styles/color&#39;;</td></tr>
<tr>
<td><a href="../../../../commit/1a0e3819c5927af6328cfaa87f32acca29f5affb">1a0e3819c5927af6328cfaa87f32acca29f5affb</a></td><td>[Sat,  8 Jun 2019 11:58:49 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l6" class="line" id="l6">      6</a> import { transitionStyle } from &#39;styles/transition&#39;;</td></tr>
<tr>
<td><a href="../../../../commit/d08b702979b0c5eb3889b21b32b3fa71758136e4">d08b702979b0c5eb3889b21b32b3fa71758136e4</a></td><td>[Wed, 17 Jan 2018 11:14:38 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l7" class="line" id="l7">      7</a> import { KEY_CODE_ENTER } from &#39;util/constants&#39;;</td></tr>
<tr>
<td><a href="../../../../commit/fd9edbc829f13154729ac792eb448c56fbffba6e">fd9edbc829f13154729ac792eb448c56fbffba6e</a></td><td>[Mon, 19 Mar 2018 11:49:59 -0500]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l8" class="line" id="l8">      8</a> import omit from &#39;util/omit&#39;;</td></tr>
<tr>
<td><a href="../../../../commit/5fb17d32f1bcd049580ec579f2dea45a1c2bf9af">5fb17d32f1bcd049580ec579f2dea45a1c2bf9af</a></td><td>[Thu, 31 Aug 2017 10:00:25 -0500]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l9" class="line" id="l9">      9</a> </td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l10" class="line" id="l10">     10</a> // Mapping of button sizes to the corresponding default text size.</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l11" class="line" id="l11">     11</a> const textSizeMap = {</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l12" class="line" id="l12">     12</a>   gamma: &#39;lambda&#39;,</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l13" class="line" id="l13">     13</a>   beta: &#39;kilo&#39;,</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l14" class="line" id="l14">     14</a>   alpha: &#39;iota&#39;,</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l15" class="line" id="l15">     15</a> };</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l16" class="line" id="l16">     16</a> </td></tr>
<tr>
<td><a href="../../../../commit/3caab665927337f08b017fd8afc27894e2e45eb9">3caab665927337f08b017fd8afc27894e2e45eb9</a></td><td>[Mon, 25 Dec 2017 17:01:09 -0800]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l17" class="line" id="l17">     17</a> // Mapping of primary button sizes to the corresponding button padding values.</td></tr>
<tr>
<td><a href="../../../../commit/3caab665927337f08b017fd8afc27894e2e45eb9">3caab665927337f08b017fd8afc27894e2e45eb9</a></td><td>[Mon, 25 Dec 2017 17:01:09 -0800]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l18" class="line" id="l18">     18</a> const primaryPaddingMap = {</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l19" class="line" id="l19">     19</a>   gamma: &#39;6px 12px&#39;,</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l20" class="line" id="l20">     20</a>   beta: &#39;10px 16px&#39;,</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l21" class="line" id="l21">     21</a>   alpha: &#39;12px 22px&#39;,</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l22" class="line" id="l22">     22</a> };</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l23" class="line" id="l23">     23</a> </td></tr>
<tr>
<td><a href="../../../../commit/3caab665927337f08b017fd8afc27894e2e45eb9">3caab665927337f08b017fd8afc27894e2e45eb9</a></td><td>[Mon, 25 Dec 2017 17:01:09 -0800]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l24" class="line" id="l24">     24</a> // Mapping of secondary button sizes to the corresponding button padding values.</td></tr>
<tr>
<td><a href="../../../../commit/3caab665927337f08b017fd8afc27894e2e45eb9">3caab665927337f08b017fd8afc27894e2e45eb9</a></td><td>[Mon, 25 Dec 2017 17:01:09 -0800]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l25" class="line" id="l25">     25</a> const secondaryPaddingMap = {</td></tr>
<tr>
<td><a href="../../../../commit/3caab665927337f08b017fd8afc27894e2e45eb9">3caab665927337f08b017fd8afc27894e2e45eb9</a></td><td>[Mon, 25 Dec 2017 17:01:09 -0800]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l26" class="line" id="l26">     26</a>   gamma: &#39;4px 10px&#39;,</td></tr>
<tr>
<td><a href="../../../../commit/3caab665927337f08b017fd8afc27894e2e45eb9">3caab665927337f08b017fd8afc27894e2e45eb9</a></td><td>[Mon, 25 Dec 2017 17:01:09 -0800]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l27" class="line" id="l27">     27</a>   beta: &#39;8px 14px&#39;,</td></tr>
<tr>
<td><a href="../../../../commit/3caab665927337f08b017fd8afc27894e2e45eb9">3caab665927337f08b017fd8afc27894e2e45eb9</a></td><td>[Mon, 25 Dec 2017 17:01:09 -0800]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l28" class="line" id="l28">     28</a>   alpha: &#39;10px 20px&#39;,</td></tr>
<tr>
<td><a href="../../../../commit/3caab665927337f08b017fd8afc27894e2e45eb9">3caab665927337f08b017fd8afc27894e2e45eb9</a></td><td>[Mon, 25 Dec 2017 17:01:09 -0800]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l29" class="line" id="l29">     29</a> };</td></tr>
<tr>
<td><a href="../../../../commit/3caab665927337f08b017fd8afc27894e2e45eb9">3caab665927337f08b017fd8afc27894e2e45eb9</a></td><td>[Mon, 25 Dec 2017 17:01:09 -0800]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l30" class="line" id="l30">     30</a> </td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l31" class="line" id="l31">     31</a> /**</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l32" class="line" id="l32">     32</a>  * Button component.</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l33" class="line" id="l33">     33</a>  */</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l34" class="line" id="l34">     34</a> class Button extends Component {</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l35" class="line" id="l35">     35</a>   static propTypes = {</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l36" class="line" id="l36">     36</a>     color: PropTypes.string,</td></tr>
<tr>
<td><a href="../../../../commit/6ceba8cf62b441c20b8b491d5641636b655ce0d0">6ceba8cf62b441c20b8b491d5641636b655ce0d0</a></td><td>[Sun,  7 Jan 2018 19:39:03 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l37" class="line" id="l37">     37</a>     size: PropTypes.oneOf([&#39;alpha&#39;, &#39;beta&#39;, &#39;gamma&#39;]),</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l38" class="line" id="l38">     38</a>     text: PropTypes.string,</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l39" class="line" id="l39">     39</a>     disabled: PropTypes.bool,</td></tr>
<tr>
<td><a href="../../../../commit/0675e8488cb0ab4024d880949c1efa15e3a685c3">0675e8488cb0ab4024d880949c1efa15e3a685c3</a></td><td>[Sun, 30 Jul 2017 10:58:19 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l40" class="line" id="l40">     40</a>     secondary: PropTypes.bool,</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l41" class="line" id="l41">     41</a>     style: PropTypes.object,</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l42" class="line" id="l42">     42</a>     children: PropTypes.any,</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l43" class="line" id="l43">     43</a>     // HOC props</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l44" class="line" id="l44">     44</a>     handleMouseEnter: PropTypes.func.isRequired,</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l45" class="line" id="l45">     45</a>     handleMouseLeave: PropTypes.func.isRequired,</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l46" class="line" id="l46">     46</a>     handleMouseDown: PropTypes.func.isRequired,</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l47" class="line" id="l47">     47</a>     handleMouseUp: PropTypes.func.isRequired,</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l48" class="line" id="l48">     48</a>     handleFocus: PropTypes.func.isRequired,</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l49" class="line" id="l49">     49</a>     handleBlur: PropTypes.func.isRequired,</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l50" class="line" id="l50">     50</a>     isHover: PropTypes.bool.isRequired,</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l51" class="line" id="l51">     51</a>     isActive: PropTypes.bool.isRequired,</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l52" class="line" id="l52">     52</a>     isFocus: PropTypes.bool.isRequired,</td></tr>
<tr>
<td><a href="../../../../commit/ba70fbb51156d39924548ec2ff363b4d74df8719">ba70fbb51156d39924548ec2ff363b4d74df8719</a></td><td>[Fri, 21 Jun 2019 19:33:44 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l53" class="line" id="l53">     53</a>     forwardedRef: PropTypes.oneOfType([</td></tr>
<tr>
<td><a href="../../../../commit/ba70fbb51156d39924548ec2ff363b4d74df8719">ba70fbb51156d39924548ec2ff363b4d74df8719</a></td><td>[Fri, 21 Jun 2019 19:33:44 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l54" class="line" id="l54">     54</a>       PropTypes.shape({ current: PropTypes.instanceOf(Element) }),</td></tr>
<tr>
<td><a href="../../../../commit/ba70fbb51156d39924548ec2ff363b4d74df8719">ba70fbb51156d39924548ec2ff363b4d74df8719</a></td><td>[Fri, 21 Jun 2019 19:33:44 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l55" class="line" id="l55">     55</a>       PropTypes.func,</td></tr>
<tr>
<td><a href="../../../../commit/ba70fbb51156d39924548ec2ff363b4d74df8719">ba70fbb51156d39924548ec2ff363b4d74df8719</a></td><td>[Fri, 21 Jun 2019 19:33:44 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l56" class="line" id="l56">     56</a>     ]),</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l57" class="line" id="l57">     57</a>   };</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l58" class="line" id="l58">     58</a> </td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l59" class="line" id="l59">     59</a>   static defaultProps = {</td></tr>
<tr>
<td><a href="../../../../commit/7735a0e2061bd99bf13b5a5ebde31252b18f3a08">7735a0e2061bd99bf13b5a5ebde31252b18f3a08</a></td><td>[Sun,  6 Aug 2017 11:08:10 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l60" class="line" id="l60">     60</a>     color: undefined,</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l61" class="line" id="l61">     61</a>     size: &#39;beta&#39;,</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l62" class="line" id="l62">     62</a>     text: null,</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l63" class="line" id="l63">     63</a>     disabled: false,</td></tr>
<tr>
<td><a href="../../../../commit/0675e8488cb0ab4024d880949c1efa15e3a685c3">0675e8488cb0ab4024d880949c1efa15e3a685c3</a></td><td>[Sun, 30 Jul 2017 10:58:19 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l64" class="line" id="l64">     64</a>     secondary: false,</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l65" class="line" id="l65">     65</a>     style: {},</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l66" class="line" id="l66">     66</a>     children: null,</td></tr>
<tr>
<td><a href="../../../../commit/ba70fbb51156d39924548ec2ff363b4d74df8719">ba70fbb51156d39924548ec2ff363b4d74df8719</a></td><td>[Fri, 21 Jun 2019 19:33:44 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l67" class="line" id="l67">     67</a>     forwardedRef: null,</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l68" class="line" id="l68">     68</a>   };</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l69" class="line" id="l69">     69</a> </td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l70" class="line" id="l70">     70</a>   handleMouseLeave = () =&gt; {</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l71" class="line" id="l71">     71</a>     const { handleMouseLeave, handleMouseUp } = this.props;</td></tr>
<tr>
<td><a href="../../../../commit/5fb17d32f1bcd049580ec579f2dea45a1c2bf9af">5fb17d32f1bcd049580ec579f2dea45a1c2bf9af</a></td><td>[Thu, 31 Aug 2017 10:00:25 -0500]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l72" class="line" id="l72">     72</a> </td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l73" class="line" id="l73">     73</a>     handleMouseLeave();</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l74" class="line" id="l74">     74</a>     handleMouseUp();</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l75" class="line" id="l75">     75</a>   };</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l76" class="line" id="l76">     76</a> </td></tr>
<tr>
<td><a href="../../../../commit/d08b702979b0c5eb3889b21b32b3fa71758136e4">d08b702979b0c5eb3889b21b32b3fa71758136e4</a></td><td>[Wed, 17 Jan 2018 11:14:38 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l77" class="line" id="l77">     77</a>   handleKeyDown = ({ keyCode }) =&gt; (keyCode === KEY_CODE_ENTER) &amp;&amp; this.props.handleMouseDown();</td></tr>
<tr>
<td><a href="../../../../commit/d08b702979b0c5eb3889b21b32b3fa71758136e4">d08b702979b0c5eb3889b21b32b3fa71758136e4</a></td><td>[Wed, 17 Jan 2018 11:14:38 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l78" class="line" id="l78">     78</a> </td></tr>
<tr>
<td><a href="../../../../commit/d08b702979b0c5eb3889b21b32b3fa71758136e4">d08b702979b0c5eb3889b21b32b3fa71758136e4</a></td><td>[Wed, 17 Jan 2018 11:14:38 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l79" class="line" id="l79">     79</a>   handleKeyUp = ({ keyCode }) =&gt; (keyCode === KEY_CODE_ENTER) &amp;&amp; this.props.handleMouseUp();</td></tr>
<tr>
<td><a href="../../../../commit/d08b702979b0c5eb3889b21b32b3fa71758136e4">d08b702979b0c5eb3889b21b32b3fa71758136e4</a></td><td>[Wed, 17 Jan 2018 11:14:38 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l80" class="line" id="l80">     80</a> </td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l81" class="line" id="l81">     81</a>   render() {</td></tr>
<tr>
<td><a href="../../../../commit/dbbdc7f719037d0b1b93680e1a2cbc60c27e1e67">dbbdc7f719037d0b1b93680e1a2cbc60c27e1e67</a></td><td>[Sat, 19 Aug 2017 11:03:34 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l82" class="line" id="l82">     82</a>     const {</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l83" class="line" id="l83">     83</a>       color = colors.primary,</td></tr>
<tr>
<td><a href="../../../../commit/dbbdc7f719037d0b1b93680e1a2cbc60c27e1e67">dbbdc7f719037d0b1b93680e1a2cbc60c27e1e67</a></td><td>[Sat, 19 Aug 2017 11:03:34 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l84" class="line" id="l84">     84</a>       size,</td></tr>
<tr>
<td><a href="../../../../commit/dbbdc7f719037d0b1b93680e1a2cbc60c27e1e67">dbbdc7f719037d0b1b93680e1a2cbc60c27e1e67</a></td><td>[Sat, 19 Aug 2017 11:03:34 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l85" class="line" id="l85">     85</a>       text,</td></tr>
<tr>
<td><a href="../../../../commit/dbbdc7f719037d0b1b93680e1a2cbc60c27e1e67">dbbdc7f719037d0b1b93680e1a2cbc60c27e1e67</a></td><td>[Sat, 19 Aug 2017 11:03:34 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l86" class="line" id="l86">     86</a>       disabled,</td></tr>
<tr>
<td><a href="../../../../commit/dbbdc7f719037d0b1b93680e1a2cbc60c27e1e67">dbbdc7f719037d0b1b93680e1a2cbc60c27e1e67</a></td><td>[Sat, 19 Aug 2017 11:03:34 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l87" class="line" id="l87">     87</a>       secondary,</td></tr>
<tr>
<td><a href="../../../../commit/dbbdc7f719037d0b1b93680e1a2cbc60c27e1e67">dbbdc7f719037d0b1b93680e1a2cbc60c27e1e67</a></td><td>[Sat, 19 Aug 2017 11:03:34 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l88" class="line" id="l88">     88</a>       style: overrides,</td></tr>
<tr>
<td><a href="../../../../commit/dbbdc7f719037d0b1b93680e1a2cbc60c27e1e67">dbbdc7f719037d0b1b93680e1a2cbc60c27e1e67</a></td><td>[Sat, 19 Aug 2017 11:03:34 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l89" class="line" id="l89">     89</a>       children,</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l90" class="line" id="l90">     90</a>       handleMouseEnter,</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l91" class="line" id="l91">     91</a>       handleMouseDown,</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l92" class="line" id="l92">     92</a>       handleMouseUp,</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l93" class="line" id="l93">     93</a>       handleFocus,</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l94" class="line" id="l94">     94</a>       handleBlur,</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l95" class="line" id="l95">     95</a>       isHover,</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l96" class="line" id="l96">     96</a>       isActive,</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l97" class="line" id="l97">     97</a>       isFocus,</td></tr>
<tr>
<td><a href="../../../../commit/ba70fbb51156d39924548ec2ff363b4d74df8719">ba70fbb51156d39924548ec2ff363b4d74df8719</a></td><td>[Fri, 21 Jun 2019 19:33:44 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l98" class="line" id="l98">     98</a>       forwardedRef,</td></tr>
<tr>
<td><a href="../../../../commit/fd9edbc829f13154729ac792eb448c56fbffba6e">fd9edbc829f13154729ac792eb448c56fbffba6e</a></td><td>[Mon, 19 Mar 2018 11:49:59 -0500]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l99" class="line" id="l99">     99</a>       ...props</td></tr>
<tr>
<td><a href="../../../../commit/dbbdc7f719037d0b1b93680e1a2cbc60c27e1e67">dbbdc7f719037d0b1b93680e1a2cbc60c27e1e67</a></td><td>[Sat, 19 Aug 2017 11:03:34 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l100" class="line" id="l100">    100</a>     } = this.props;</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l101" class="line" id="l101">    101</a> </td></tr>
<tr>
<td><a href="../../../../commit/fd9edbc829f13154729ac792eb448c56fbffba6e">fd9edbc829f13154729ac792eb448c56fbffba6e</a></td><td>[Mon, 19 Mar 2018 11:49:59 -0500]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l102" class="line" id="l102">    102</a>     const proxyProps = omit(props, [&#39;handleMouseLeave&#39;]);</td></tr>
<tr>
<td><a href="../../../../commit/fd9edbc829f13154729ac792eb448c56fbffba6e">fd9edbc829f13154729ac792eb448c56fbffba6e</a></td><td>[Mon, 19 Mar 2018 11:49:59 -0500]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l103" class="line" id="l103">    103</a> </td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l104" class="line" id="l104">    104</a>     const brightness = (() =&gt; {</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l105" class="line" id="l105">    105</a>       if (isActive) {</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l106" class="line" id="l106">    106</a>         return 0.95;</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l107" class="line" id="l107">    107</a>       }</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l108" class="line" id="l108">    108</a> </td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l109" class="line" id="l109">    109</a>       if (isHover || isFocus) {</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l110" class="line" id="l110">    110</a>         return 1.05;</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l111" class="line" id="l111">    111</a>       }</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l112" class="line" id="l112">    112</a> </td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l113" class="line" id="l113">    113</a>       return 1;</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l114" class="line" id="l114">    114</a>     })();</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l115" class="line" id="l115">    115</a> </td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l116" class="line" id="l116">    116</a>     const style = {</td></tr>
<tr>
<td><a href="../../../../commit/9add03e8a1942900dfcee7f633d3a21d64aaf1a8">9add03e8a1942900dfcee7f633d3a21d64aaf1a8</a></td><td>[Mon, 25 Dec 2017 17:02:35 -0800]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l117" class="line" id="l117">    117</a>       backgroundColor: secondary ? &#39;transparent&#39; : color,</td></tr>
<tr>
<td><a href="../../../../commit/808905c5aec50f82cb55e95335423059bc0cc581">808905c5aec50f82cb55e95335423059bc0cc581</a></td><td>[Thu, 31 Aug 2017 09:44:52 -0500]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l118" class="line" id="l118">    118</a>       border: secondary ? `2px solid ${color}` : &#39;none&#39;,</td></tr>
<tr>
<td><a href="../../../../commit/3e8dc6ed71c51c26809e0caddb93beb6085e4cd3">3e8dc6ed71c51c26809e0caddb93beb6085e4cd3</a></td><td>[Sun, 30 Jul 2017 14:11:42 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l119" class="line" id="l119">    119</a>       borderRadius: 0,</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l120" class="line" id="l120">    120</a>       color,</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l121" class="line" id="l121">    121</a>       cursor: &#39;pointer&#39;,</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l122" class="line" id="l122">    122</a>       filter: `brightness(${brightness})`,</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l123" class="line" id="l123">    123</a>       opacity: disabled ? 0.4 : 1,</td></tr>
<tr>
<td><a href="../../../../commit/9f794731ec1e3dc480dbe64717e27c2acf652381">9f794731ec1e3dc480dbe64717e27c2acf652381</a></td><td>[Tue,  6 Feb 2018 10:34:10 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l124" class="line" id="l124">    124</a>       padding: (secondary ? secondaryPaddingMap : primaryPaddingMap)[size],</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l125" class="line" id="l125">    125</a>       pointerEvents: disabled ? &#39;none&#39; : &#39;inherit&#39;,</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l126" class="line" id="l126">    126</a>       textDecoration: &#39;none&#39;,</td></tr>
<tr>
<td><a href="../../../../commit/1a0e3819c5927af6328cfaa87f32acca29f5affb">1a0e3819c5927af6328cfaa87f32acca29f5affb</a></td><td>[Sat,  8 Jun 2019 11:58:49 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l127" class="line" id="l127">    127</a>       ...transitionStyle(),</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l128" class="line" id="l128">    128</a>       ...overrides,</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l129" class="line" id="l129">    129</a>     };</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l130" class="line" id="l130">    130</a> </td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l131" class="line" id="l131">    131</a>     return (</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l132" class="line" id="l132">    132</a>       &lt;button</td></tr>
<tr>
<td><a href="../../../../commit/ba70fbb51156d39924548ec2ff363b4d74df8719">ba70fbb51156d39924548ec2ff363b4d74df8719</a></td><td>[Fri, 21 Jun 2019 19:33:44 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l133" class="line" id="l133">    133</a>         ref={forwardedRef}</td></tr>
<tr>
<td><a href="../../../../commit/7de5f0c203de1bebb8cf87b7ca1f424e75823bfe">7de5f0c203de1bebb8cf87b7ca1f424e75823bfe</a></td><td>[Fri, 18 May 2018 22:26:39 -0500]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l134" class="line" id="l134">    134</a>         type=&quot;button&quot;</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l135" class="line" id="l135">    135</a>         style={style}</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l136" class="line" id="l136">    136</a>         onMouseEnter={handleMouseEnter}</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l137" class="line" id="l137">    137</a>         onMouseLeave={this.handleMouseLeave}</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l138" class="line" id="l138">    138</a>         onMouseDown={handleMouseDown}</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l139" class="line" id="l139">    139</a>         onMouseUp={handleMouseUp}</td></tr>
<tr>
<td><a href="../../../../commit/d95e7b80c4b4611f12c766e98ad24556b4028432">d95e7b80c4b4611f12c766e98ad24556b4028432</a></td><td>[Wed, 17 Jan 2018 12:48:42 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l140" class="line" id="l140">    140</a>         onTouchStart={handleMouseDown}</td></tr>
<tr>
<td><a href="../../../../commit/d95e7b80c4b4611f12c766e98ad24556b4028432">d95e7b80c4b4611f12c766e98ad24556b4028432</a></td><td>[Wed, 17 Jan 2018 12:48:42 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l141" class="line" id="l141">    141</a>         onTouchEnd={handleMouseUp}</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l142" class="line" id="l142">    142</a>         onFocus={handleFocus}</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l143" class="line" id="l143">    143</a>         onBlur={handleBlur}</td></tr>
<tr>
<td><a href="../../../../commit/d08b702979b0c5eb3889b21b32b3fa71758136e4">d08b702979b0c5eb3889b21b32b3fa71758136e4</a></td><td>[Wed, 17 Jan 2018 11:14:38 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l144" class="line" id="l144">    144</a>         onKeyDown={this.handleKeyDown}</td></tr>
<tr>
<td><a href="../../../../commit/d08b702979b0c5eb3889b21b32b3fa71758136e4">d08b702979b0c5eb3889b21b32b3fa71758136e4</a></td><td>[Wed, 17 Jan 2018 11:14:38 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l145" class="line" id="l145">    145</a>         onKeyUp={this.handleKeyUp}</td></tr>
<tr>
<td><a href="../../../../commit/7de5f0c203de1bebb8cf87b7ca1f424e75823bfe">7de5f0c203de1bebb8cf87b7ca1f424e75823bfe</a></td><td>[Fri, 18 May 2018 22:26:39 -0500]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l146" class="line" id="l146">    146</a>         disabled={disabled}</td></tr>
<tr>
<td><a href="../../../../commit/dbbdc7f719037d0b1b93680e1a2cbc60c27e1e67">dbbdc7f719037d0b1b93680e1a2cbc60c27e1e67</a></td><td>[Sat, 19 Aug 2017 11:03:34 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l147" class="line" id="l147">    147</a>         {...proxyProps}</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l148" class="line" id="l148">    148</a>       &gt;</td></tr>
<tr>
<td><a href="../../../../commit/9f794731ec1e3dc480dbe64717e27c2acf652381">9f794731ec1e3dc480dbe64717e27c2acf652381</a></td><td>[Tue,  6 Feb 2018 10:34:10 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l149" class="line" id="l149">    149</a>         {text &amp;&amp; (</td></tr>
<tr>
<td><a href="../../../../commit/9f794731ec1e3dc480dbe64717e27c2acf652381">9f794731ec1e3dc480dbe64717e27c2acf652381</a></td><td>[Tue,  6 Feb 2018 10:34:10 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l150" class="line" id="l150">    150</a>           &lt;Text</td></tr>
<tr>
<td><a href="../../../../commit/9f794731ec1e3dc480dbe64717e27c2acf652381">9f794731ec1e3dc480dbe64717e27c2acf652381</a></td><td>[Tue,  6 Feb 2018 10:34:10 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l151" class="line" id="l151">    151</a>             size={textSizeMap[size]}</td></tr>
<tr>
<td><a href="../../../../commit/9f794731ec1e3dc480dbe64717e27c2acf652381">9f794731ec1e3dc480dbe64717e27c2acf652381</a></td><td>[Tue,  6 Feb 2018 10:34:10 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l152" class="line" id="l152">    152</a>             color={secondary ? color : &#39;gray5&#39;}</td></tr>
<tr>
<td><a href="../../../../commit/9f794731ec1e3dc480dbe64717e27c2acf652381">9f794731ec1e3dc480dbe64717e27c2acf652381</a></td><td>[Tue,  6 Feb 2018 10:34:10 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l153" class="line" id="l153">    153</a>             style={{ pointerEvents: &#39;none&#39; }}</td></tr>
<tr>
<td><a href="../../../../commit/9f794731ec1e3dc480dbe64717e27c2acf652381">9f794731ec1e3dc480dbe64717e27c2acf652381</a></td><td>[Tue,  6 Feb 2018 10:34:10 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l154" class="line" id="l154">    154</a>             uppercase</td></tr>
<tr>
<td><a href="../../../../commit/9f794731ec1e3dc480dbe64717e27c2acf652381">9f794731ec1e3dc480dbe64717e27c2acf652381</a></td><td>[Tue,  6 Feb 2018 10:34:10 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l155" class="line" id="l155">    155</a>             bold</td></tr>
<tr>
<td><a href="../../../../commit/9f794731ec1e3dc480dbe64717e27c2acf652381">9f794731ec1e3dc480dbe64717e27c2acf652381</a></td><td>[Tue,  6 Feb 2018 10:34:10 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l156" class="line" id="l156">    156</a>             inline</td></tr>
<tr>
<td><a href="../../../../commit/9f794731ec1e3dc480dbe64717e27c2acf652381">9f794731ec1e3dc480dbe64717e27c2acf652381</a></td><td>[Tue,  6 Feb 2018 10:34:10 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l157" class="line" id="l157">    157</a>           &gt;</td></tr>
<tr>
<td><a href="../../../../commit/9f794731ec1e3dc480dbe64717e27c2acf652381">9f794731ec1e3dc480dbe64717e27c2acf652381</a></td><td>[Tue,  6 Feb 2018 10:34:10 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l158" class="line" id="l158">    158</a>             {text}</td></tr>
<tr>
<td><a href="../../../../commit/9f794731ec1e3dc480dbe64717e27c2acf652381">9f794731ec1e3dc480dbe64717e27c2acf652381</a></td><td>[Tue,  6 Feb 2018 10:34:10 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l159" class="line" id="l159">    159</a>           &lt;/Text&gt;</td></tr>
<tr>
<td><a href="../../../../commit/9f794731ec1e3dc480dbe64717e27c2acf652381">9f794731ec1e3dc480dbe64717e27c2acf652381</a></td><td>[Tue,  6 Feb 2018 10:34:10 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l160" class="line" id="l160">    160</a>         )}</td></tr>
<tr>
<td><a href="../../../../commit/9f794731ec1e3dc480dbe64717e27c2acf652381">9f794731ec1e3dc480dbe64717e27c2acf652381</a></td><td>[Tue,  6 Feb 2018 10:34:10 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l161" class="line" id="l161">    161</a> </td></tr>
<tr>
<td><a href="../../../../commit/9f794731ec1e3dc480dbe64717e27c2acf652381">9f794731ec1e3dc480dbe64717e27c2acf652381</a></td><td>[Tue,  6 Feb 2018 10:34:10 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l162" class="line" id="l162">    162</a>         {children}</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l163" class="line" id="l163">    163</a>       &lt;/button&gt;</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l164" class="line" id="l164">    164</a>     );</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l165" class="line" id="l165">    165</a>   }</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l166" class="line" id="l166">    166</a> }</td></tr>
<tr>
<td><a href="../../../../commit/1f767afa4994cfbdae11a88db36d54efd406bb81">1f767afa4994cfbdae11a88db36d54efd406bb81</a></td><td>[Sat, 29 Jul 2017 18:44:28 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l167" class="line" id="l167">    167</a> </td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l168" class="line" id="l168">    168</a> export default compose(</td></tr>
<tr>
<td><a href="../../../../commit/ba70fbb51156d39924548ec2ff363b4d74df8719">ba70fbb51156d39924548ec2ff363b4d74df8719</a></td><td>[Fri, 21 Jun 2019 19:33:44 -0700]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l169" class="line" id="l169">    169</a>   withForwardedRef,</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l170" class="line" id="l170">    170</a>   withToggleState({ key: &#39;isHover&#39;, enable: &#39;handleMouseEnter&#39;, disable: &#39;handleMouseLeave&#39; }),</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l171" class="line" id="l171">    171</a>   withToggleState({ key: &#39;isActive&#39;, enable: &#39;handleMouseDown&#39;, disable: &#39;handleMouseUp&#39; }),</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l172" class="line" id="l172">    172</a>   withToggleState({ key: &#39;isFocus&#39;, enable: &#39;handleFocus&#39;, disable: &#39;handleBlur&#39; }),</td></tr>
<tr>
<td><a href="../../../../commit/c3b0bd43dadb0d50066efbce918d08be84e3b67e">c3b0bd43dadb0d50066efbce918d08be84e3b67e</a></td><td>[Wed, 17 Jan 2018 10:03:29 -0600]</td><td>[Kevin Lin &lt;developer@kevinlin.info&gt;]</td><td><a href="#l173" class="line" id="l173">    173</a> )(Button);</td></tr>
</table>
</div>
</body>
</html>
