[Unit]
Description=Realtime log file to Kafka relay daemon
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=30
User=root
SyslogIdentifier=piper
Environment=PIPER_CONFIG=/etc/piper/config.toml
EnvironmentFile=-/etc/default/piper
ExecStart=/usr/bin/piper --verbosity info

[Install]
WantedBy=multi-user.target
