[Unit]
Description=Bitflow TCP proxy
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=30
User=root
LimitNOFILE=65536
SyslogIdentifier=bitflow
Environment=BITFLOW_CONFIG=/etc/bitflow/config.yaml
EnvironmentFile=-/etc/default/bitflow
ExecStart=/usr/bin/bitflow

[Install]
WantedBy=multi-user.target
